body {
  background-color: black;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}


tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
     width : 100%; 
}

td {
    border-left: 1px solid #ddd;
    color : green;
    
  width : 100%; 
}

table {
  margin-top : 10px ;
  width : 100%; 
}
	
.App-logo {
  animation: App-logo-spin infinite 20s linear !important;
  height: 80px !important;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  cursor: pointer;
  margin: 10px;
}