<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form" (ngSubmit)= "onSubmit()">
                <mat-form-field class="formField">
                    <input matInput placeholder="email" type="email" [ngClass]="{'error': isValid('email')}" formControlName = "email">
                </mat-form-field>
                <mat-form-field class="formField">
                    <input matInput placeholder="pass word" type="password" [ngClass]="{'error': isValid('password')}" formControlName = "password">
                </mat-form-field>
                <mat-form-field class="formField">
                    <input matInput placeholder="confirm password" type="password" [ngClass]="{'error': isValid('confirmPassword')}" formControlName = "confirmPassword">
                </mat-form-field>
                <div *ngIf="form.errors?.confirmPassword" style="color:red">password does not match </div>
                <button [disabled]="isValidForm()"  mat-raised-button color="primary" style="margin:10px">Register</button>
            </form>    
        </div>
    </div>
</div>
        
        
