<div>
   
 
 
 
  <h1>
    Welcome to {{title}}!
  </h1>
  <h3>
   {{subtitle}}!
  </h3>
 
 

  
   <h3>derived from  <a href="http://35.163.140.165:5000/l/" target="_blank">NWEN406 lambda project</a> </h3>
    <div  class="breath-light" >
        <img  width="150"  style=" position: absolute; left: 10px;  top: 70px; z-index:-2" src="http://www.chartjs.org/img/chartjs-logo.svg">
    </div>
    
    <div class="breath-light2"> 
      <img  width="150"  style="position: absolute;left: 10px;  top: 80px; z-index:-3"  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>  
  
  
<div class="container">
  <div class="row">
    <div class="col-md-2">
                
            
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">last4 apikey:</span>
            <input class="form-control" [(ngModel)]="ReqO.l4" style="border : 5px solid #800080" type="text" id="l4" value="Vvuc">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Max  : </span>
            <input class="form-control" [(ngModel)]="ReqO.maxi" type="text" id="maxi" value="10"   min="10" max="1000">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">loops : </span>
            <input class="form-control" [(ngModel)]="ReqO.loops"  type="text" id="loop" value="1"  min="1" max="5">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">times :</span>
            <input class="form-control" [(ngModel)]="ReqO.times" type="text" id="t" value="4"  min="1" max="100">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Conmode:</span>
            <input class="form-control" [(ngModel)]="ReqO.conc" type="text"  max="100">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">mb:</span>
            <input class="form-control" [(ngModel)]="ReqO.mb" type="text" id="t" value="4"  min="1" max="100">
          </div>
          <br>
          <button  class="btn btn-primary"  (click)="post()" >request lambda data</button>
    </div>
    <div class="col-md-10 canvasc  light">
        
    <canvas  baseChart  
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  
    </div>
    
  </div>
</div>
 

</div>