 
 <div style = "width: 500px"><ul>
    <li> please input last 4 chars of AWS API key  : <input [(ngModel)]="ReqO.l4" style="border : 5px solid #800080" type="text" id="l4" value="Vvuc"></li>
    <li>Max  : <input [(ngModel)]="ReqO.maxi" type="text" id="maxi" value="10"   min="10" max="1000"></li>
    <li>loops : <input [(ngModel)]="ReqO.loops"  type="text" id="loop" value="1"  min="1" max="5"></li>
    <li>times : <input [(ngModel)]="ReqO.times" type="text" id="t" value="4"  min="1" max="100"></li>
    <li>Concurrent mode :<input [(ngModel)]="ReqO.conc" type="text"  max="100"></li>
    <li>mb  : <input [(ngModel)]="ReqO.mb" type="text" id="t" value="4"  min="1" max="100"> </li>
   
  </ul></div>
 
<button    (click)="post()" >request lambda data</button>
<div class="row">
  <div class="col-md-6 canvasc  light">
    <div style="display: block;">
    <canvas  baseChart  
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px ; width : 20%">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    
  </div>
</div>