h1 , h2 , h3 {
    color : green;
    text-align: center
    
}

li {
  
  color : white;
  
}



button:hover {
    background-color: green  !important;;
     cursor:pointer; 
}

.canvasc{
    
display: block;
}



body {
  background: black;
}

.breath-light {
  margin: auto;
  margin-top: 150px;

  border-radius: 3px;
  background: 	#fff;

  box-shadow: 0 0 60px #00FFFF;

  -webkit-animation: breath 6s; 
          animation: breath 6s;

  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;

}




.light {
 

  border-radius: 3px;
  background: 	#fff;

  box-shadow: 0 0 40px #00FFFF;

  -webkit-animation: breath 20s; 
          animation: breath 20s;

  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;

}


input {
 

  border-radius: 10px;
  background: 	#000;

  box-shadow: 0 0 200px #483D8B;

  -webkit-animation: breath3 5s; 
          animation: breath3 5s;

  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;

}


@-webkit-keyframes breath3 {
  0%    {opacity: 1;}

  60%   {opacity:  0.6;}
  70%   {opacity:  0.7;}
  80%   {opacity:  0.8;}
  90%   {opacity:  0.9;}
  100%  {opacity: 1;}
}
@-o-keyframes breath3 {
  0%    {opacity: 1;}

  60%   {opacity:  0.6;}
  70%   {opacity:  0.7;}
  80%   {opacity:  0.8;}
  90%   {opacity:  0.9;}
  100%  {opacity: 1;}
}
@-moz-keyframes breath3 {
  0%    {opacity: 1;}

  60%   {opacity:  0.6;}
  70%   {opacity:  0.7;}
  80%   {opacity:  0.8;}
  90%   {opacity:  0.9;}
  100%  {opacity: 1;}
}
@keyframes breath3 {
  0%    {opacity: 1;}

  60%   {opacity:  0.6;}
  70%   {opacity:  0.7;}
  80%   {opacity:  0.8;}
  90%   {opacity:  0.9;}
  100%  {opacity: 1;}
}







@-webkit-keyframes breath {
  0%    {opacity: 0.7;}
  60%   {opacity:   1;}
  100%  {opacity: 0.9;}
}
@-o-keyframes breath {
  0%    {opacity: 0.7;}
  60%   {opacity:   1;}
  100%  {opacity: 0.9;}
}
@-moz-keyframes breath {
  0%    {opacity: 0.7;}
  60%   {opacity:   1;}
  100%  {opacity: 0.9;}
}
@keyframes breath {
  0%    {opacity: 0.7;}
  60%   {opacity:   1;}
  100%  {opacity: 0.9;}
}


.breath-light2 {
  margin: auto;
  margin-top: 150px;

  border-radius: 3px;
  background: white;

  box-shadow: 0 0 60px #FFFFFF;

  -webkit-animation: breath2 6s; 
          animation: breath2 6s;

  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;

}

@-webkit-keyframes breath2 {
  0%    {opacity: 1;}
  60%   {opacity:   0.1;}
  100%  {opacity: 1;}
}
@-o-keyframes breath2 {
  0%    {opacity: 1;}
  60%   {opacity:   0.1;}
  100%  {opacity: 1;}
}
@-moz-keyframes breath2 {
  0%    {opacity: 1;}
  60%   {opacity:   0.1;}
  100%  {opacity: 1;}
}
@keyframes breath2 {
   0%    {opacity: 1;}
  60%   {opacity:   0.1;}
  100%  {opacity: 1;}
}