<!DOCTYPE html>
<html>
<body>

<h1>Challenge "A+"</h1>

<p>Create an EC2 instance and implement a dynamic web page allowing you to invoke the prime number lambda.</p>


<form enctype="multipart/form-data" method="post" name="fileinfo">
  <ul>
    <li > please input last 4 chars of AWS API key  : <input style="border : 5px solid #800080" type="text" id="l4" value="1t"></li>
    <li>Max  : <input type="number" id="maxi" value="10"   min="10" max="1000"></li>
    <li>loops : <input type="number" id="loop" value="1"  min="1" max="5"></li>
    <li>times : <input type="number" id="t" value="4"  min="1" max="100"></li>
    <li>Concurrent mode :<select id="concurrent"> <option value="on"> on</option> <option value="off"> off</option>   </select></li>
    <li>mb :<select id="mb"><option value="128"> 128MB</option><option value="256"> 256MB</option><option value="512"> 512MB</option><option value="1024"> 1024MB</option></select></li>
  </ul>

  <input style="border : 2px solid blue" type="submit" value="update the parameteres and Invoke demo prime number lambda demo " />
</form>






<div id="chart"></div>














<ul id="demo"></ul>








<script type="text/javascript" src="{{ url_for('static', filename='c3.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='k1.js') }}"></script>



</body>
</html>
