<!DOCTYPE html>
<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='c3.min.css') }}">
<body>

<style>
li {
    padding: 10px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */

</style>
<h1> please inform me when you finish testing via beaconwarden@gmail.com so that i can turn </h1>

<p>  Python flask Web APP calling the AWS prime number lambda live demo .</p>






 <textarea name="textarea" placeholder="Enter the text...">
     { maxi : 100 ,  loops : 1 , times :  1 , apik : 'Vvuc'   }
     
 </textarea>




<button type="button" onclick="loadDoc()">Request data</button>










<div id="cv" style="margin-left : 100px ; margin-right :100px  ">

</div>



<ul id="demo"></ul>
<script type="text/javascript" src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>







<script type="text/javascript" src="{{ url_for('static', filename='lam.js') }}"></script>



</body>
</html>
