<!DOCTYPE html>
<html>
<body>

<h1>Challenge "A+"</h1>

<p>Create an EC2 instance and implement a dynamic web page allowing you to invoke the prime number lambda.</p>



<ul>
  <li> please input last 4 char of API key  : <input type="text" id="l4" value="Vvuc"></li>
  <li>Max  : <input type="number" id="maxi" value="10"></li>
  <li>loops : <input type="number" id="loop" value="1"></li>
  <li>times : <input type="number" id="t" value="4"></li>
  <li>Concurrent mode :<select id="concurrent"><option value="off"> off</option><option value="on"> on</option></select></li>
  <li>mb :<select id="mb"><option value="128"> 128MB</option><option value="256"> 256MB</option><option value="512"> 512MB</option><option value="1024"> 1024MB</option></select></li>
  <li>data visualisation mode :
    <select id="chartmode">
      <option value="line"> line</option>
      <option value="bar"> bar</option>
      <option value="radar"> radar</option>
      <option value="doughnut"> doughnut</option>
      <option value="pie"> pie</option>
      <option value="polarArea"> polarArea</option>
      <option value="bubble"> bubble</option>
  </select></li>
</ul>










<button type="button" onclick="ajax()">Invoke prime number lambda</button>




<div style="padding : 100px ;margin : 100px ;  ">
<canvas id="myChart"></canvas>
</div>



<ul id="demo"></ul>
<script type="text/javascript" src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>










<script type="text/javascript" src="{{ url_for('static', filename='lambda.js') }}"></script>



</body>
</html>
