<!DOCTYPE html>
<html>
<body>

<h1>Challenge "A+"</h1>

<p>Create an EC2 instance and implement a dynamic web page allowing you to invoke the prime number lambda.</p>



<ul>
  <li>Max  : <input type="text" id="maxi" value="1000"></li>
  <li>loops : <input type="text" id="loop" value="1"></li>
  <li>times : <input type="text" id="t" value="4"></li>
  <li>Concurrent mode :<select id="concurrent"><option value="off"> off</option><option value="on"> on</option></select></li>
  <li>mb :<select id="mb"><option value="128"> 128MB</option><option value="256"> 256MB</option><option value="512"> 512MB</option><option value="1024"> 1024MB</option></select></li>
</ul>










<button type="button" onclick="ajax()">Invoke prime number lambda</button>





<canvas id="myChart"></canvas>


<ul id="demo"></ul>
<script type="text/javascript" src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>










<script type="text/javascript" src="{{ url_for('static', filename='lambda.js') }}"></script>



</body>
</html>
