<!DOCTYPE html>
<html>
<body>

<h1>Challenge "A+"</h1>

<p>Create an EC2 instance and implement a dynamic web page allowing you to invoke the prime number lambda.</p>



<ul>
  <li>Max  : <input type="number" id="maxi" value="1000"></li>
  <li>loops : <input type="number" id="loop" value="1"></li>
  <li>times : <input type="number" id="t" value="4"></li>
  <li>Concurrent mode :<select id="concurrent"><option value="off"> off</option><option value="on"> on</option></select></li>
  <li>mb :<select id="mb"><option value="128"> 128MB</option><option value="256"> 256MB</option><option value="512"> 512MB</option><option value="1024"> 1024MB</option></select></li>
</ul>










<button type="button" onclick="ajax()">Invoke prime number lambda</button>





<canvas id="myChart" width="400" height="400"></canvas>
<script type="text/javascript" src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>


<script>

function ajax(){
location.reload();


}


var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {

    type: 'line',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [Math.random(), Math.random(), Math.random(), Math.random(), Math.random(),Math.random()],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>















</body>
</html>
