<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >

  
    

 </div>

<nav>
  <a routerLink="/chartjs">chartjs</a>
  <a routerLink="/labsql">SQL Lab</a>
</nav>
<router-outlet></router-outlet>








<h5><a href="http://35.163.140.165:5000/getSatisfactory" target="_blank">EC2 REST API JSON endpoint @ lambda project</a>  </h5>

<h5><a href="https://github.com/jconning/lambda-cpu-cost/blob/master/eratosthenes_lambda.py" target="_blank">python codes running on aws  lambda </a>  </h5>


<h5><a href="https://adrian-beaconwarden-us-adrianng.c9.io/magic/index.php" target="_blank">js demo </a>  </h5>

http://ecs.victoria.ac.nz/Courses/NWEN406_2017T2/ProjectTwo